<footer class="footer">
    <div class="main-footer_top">
        <div class="container footer_top">
            <h2 style="text-align: center">FOOTER FOOTER FOOTER FOOTER FOOTER</h2>
            <a href="#" class="burger__button">
                <span class="burger__button__icon"></span>
            </a>
            <nav class="main-header_nav">
                <ul class="main-header_ul">
                    <li><a href="#">Оплата и доставка </a></li>
                    <li class="current-menu-item"><a href="#">Гарантия и обмен</a></li>
                    <li><a href="#">Новые поступления</a></li>
                    <li><a href="#">Акции</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>
            <a href="#request" class="popup-show popup_css">Popup</a>
        </div>
    </div>
</footer>
<!-- popup form -->
//= popup-form.html
<!-- loading JS Start -->
<script src="js/libs.js"></script>
<script src="js/main.js"></script>
<!-- loading JS End -->
</body>

</html>
