<footer class="footer">
    <div class="main-footer_top">
        <div class="container container-footer_top">
            <h2>footer</h2>
        </div>
    </div>
</footer>
<!-- popup form -->
//= popup-form.html
<!-- loading JS Start -->
<script src="js/libs.js"></script>
<script src="js/main.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyBBHPtvdcQZQUorcPAipjZAQPjPKr7hIkU"></script>
<script async src="js/google-map.js"></script>
<!-- loading JS End -->
</body>

</html>
