// для подключения шрифтов используеться миксин! название папки и файла должно совпадать
// и шрифты находиться в папке fonts
// задавать нужно лиш название шрифта ;ащте-тфьу и назание тихого класса для директивы @extend %class;
// код взять с https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin ff-mixin($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

// подключение! 
// задавать нужно лиш название шрифта $font-name и назание тихого класса для директивы @extend %class;
// название переменных менять не нужно

$font-name: "gothaprobla";
$font-folder: "../fonts/#{$font-name}/#{$font-name}";
@include ff-mixin($font-name, $font-folder , 600, normal);
%fontReg {
  font-family: $font-name, sans-serif;
};

$font-name: "branding-lightitalic";
$font-folder: "../fonts/#{$font-name}/#{$font-name}";
@include ff-mixin($font-name, $font-folder , 300, italic );
%fontReg2 {
  font-family: $font-name, cursive;
};

body {
@extend %fontReg;
@extend %fontReg2;
}