// #base
// #base
* {
    outline: none;
}

.container {
    @include wrapper();
    min-width: 250px;
    // background: #fff;
    // padding: 0;
}

// #html font-size
html {
    font-size: $html_font;
    color: #6a6a6a;
    line-height: normal;
    box-sizing: content-box;
    overflow-x: hidden;
    word-wrap: break-word;
    // @extend %Regular;
    @include respond-to(full) {
        font-size: $html_font;
    }
    @include respond-to(pc) {
        font-size: $html_font - 5%;
    }
    @include respond-to(tablets) {
        font-size: $html_font - 10%;
    }
    @include respond-to(wide_handhelds) {
        font-size: $html_font - 15%;
    }
    @include respond-to(handhelds) {
        font-size: $html_font - 20%;
    }
    @include respond-to(fon) {
        font-size: $html_font - 20%;
    }
}

// #h1 stile h1-h6 for sub-page
.sub-page {
    h1,
    h2,
    h3,
    .h1,
    .h2,
    .h3 {
        text-align: center;
        text-transform: uppercase;
        margin: 35px 0 25px;
        // @extend %Bold;
    }
    h4,
    h5,
    .h4,
    .h5 {
        text-align: left;
        margin: 35px 0 25px;
        // @extend %Bold;
    }
    h6,
    .h6 {
        text-align: left;
        margin: 25px 0;
        // @extend %Regular;
    }
}

// #h1 stile h1-h6 for main-page
.main-page {
    h1,
    h2,
    h3,
    .h1,
    .h2,
    .h3 {
        text-align: center;
        text-transform: uppercase;
        margin: 35px 0 25px;
        // @extend %Bold;
    }
    h4,
    h5,
    .h4,
    .h5 {
        text-align: left;
        margin: 35px 0 25px;
        // @extend %Bold;
    }
    h6,
    .h6 {
        text-align: left;
        margin: 25px 0;
        // @extend %Regular;
    }
}

blockquote {
    color: #6a6a6a;
    font-size: 16px;
    background: #f3f3f3;
    margin: 25px 0;
    border-left: 5px solid #eec315;
    padding: 25px 60px 25px 60px;
}

p {
    color: #6a6a6a;
    font-size: 16px;
    line-height: 24px;
    // @extend %Regular;
    margin-bottom: 15px;
}

// #strong
b,
strong {
    font-size: 16px;
    line-height: 24px;
    // @extend %Bold;
    color: #6a6a6a;
}

i {
    font-size: 16px;
    line-height: 24px;
    color: #6a6a6a;
}

// #a
a {
color: $color-brand;
    font-size: 16px;
    line-height: 24px;
    // @extend %Regular;
    text-decoration: none;
    transition: all .4s cubic-bezier(.25, .46, .45, .94);
    &:focus {
        outline: none;
    }
    &:hover {
        text-decoration: underline;
    }
    .current-menu-item & {
        text-decoration: underline;
    }
}

// #img
img {
    max-width: 100%;
    align-self: center;
}

// style #input #textarea
// убирает иконку в поле типа поиска
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

// плавное изменение прозрачности  placeholder-а при фокусе для textarea и input
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

textarea::-moz-placeholder,
input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

textarea:-moz-placeholder,
input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

// // если placeholder не вмещается
input[placeholder] {
    text-overflow: ellipsis;
}

input::-moz-placeholder {
    text-overflow: ellipsis;
}

input:-moz-placeholder {
    text-overflow: ellipsis;
}

input:-ms-input-placeholder {
    text-overflow: ellipsis;
}

input[type=email],
input[type=text],
textarea {
    max-width: 100%;
}

// style #ol #ul #li
ol, ul {
    padding-left: 23px;
    counter-reset: li;
    @include respond-to(wide_handhelds) {
        padding-left: 15px;
    }
    @include respond-to(handhelds) {
        padding-left: 5px;
    }
    @include respond-to(fon) {
        padding-left: 0px;
    }
    & li {
    font-size: 16px;
    color: #6a6a6a;
    margin-bottom: 22px;
    position: relative;
    overflow: hidden;
    padding-left: 32px;
    @include respond-to(wide_handhelds) {
        padding-left: 25px;
    }
    @include respond-to(handhelds) {
        padding-left: 20px;
        margin-bottom: 15px;
    }
    @include respond-to(fon) {
        padding-left: 15px;
        margin-bottom: 10px;
    }
    &:before {
    @extend .icon-ok-circled2;
    @extend [class^="icon-"];
    color: $color-brand;
    position: absolute;
    top: 2px;
    left: -3px;
    font-size: 14px;
}
}
}
ol li:before {
    content: counter(li) '.';
    counter-increment: li;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 15px;
    // tr:nth-of-type(2n+3) {
    //     background-color: rgba(245, 244, 240, 0.5);
    // }
    // tr:last-child {
    //     border-bottom: 1px solid #1e2a32;
    // }
}

table td {
    padding: 20px 25px;
    color: #a2a2a2;
    font-size: 16px;
    border-bottom: 1px dotted #a2a2a2;
    // @extend %Regular;
    & + td {
        text-align: center;
    }
    @include respond-to(wide_handhelds) {
        padding: 15px;
    }
    @include respond-to(handhelds) {
        padding: 5px;
    }
    @include respond-to(fon) {
        padding: 2px;
    }
}

table th {
    // @extend %Bold;
    @include fs(14px);
    padding: 20px 25px;
    color: #313232;
    text-align: left;
    border-bottom: 1px solid #313232;
    & + th {
        text-align: center;
    }
    @include respond-to(wide_handhelds) {
        padding: 15px;
    }
    @include respond-to(handhelds) {
        padding: 5px;
    }
    @include respond-to(fon) {
        padding: 2px;
    }
}

.switch-links {
    padding: 45px 0;
    .pull-left i {
        margin-right: 10px;
    }
    .pull-right i {
        margin-left: 10px;
    }
}

select:focus,
input:focus,
button:focus {
    outline: 0;
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
}
