//-----------------------------------spacing
$s_default: 15px;
$s:         10px;
$s_double:  $s * 2;
$s_third:   $s * 3;
$s_fourth:  $s * 4;
$s_half:    $s / 2;

//more_full
$screen-more_full: 1921px;
//full
$screen-full: 1320px;
//pc
$screen-lg: 1100px;
//tablets
$screen-md: 960px;
//wide_handhelds
$screen-sm: 768px;
//handhelds
$screen-xs: 480px;
//fon
$screen-c: 320px;

//-----------------------------------fonts size

$html_font: 100%;
$font-size-base: 16px;
$font-xs:        13px;
$font-xm:        14px;
$font-default:   15px;
$font-sm:        16px;
$font-md:        18px;
$font-md-md:     22px;
$font-md-big:    26px;
$font-lg:        30px;
$font-lg-x:      34px;
//font h1-h6
$font-h1:        44px;
$font-h2:        36px;
$font-h3:     	 24px;
$font-h4:    	 16px;
$font-h5:        20px;
$font-h6:        16px;

//-----------------------------------color background
$fon-white:           	#fff;
$fon-brand:             #f26321;
$fon-dark:              darken($fon-brand,30%);
$fon-light:             lighten($fon-brand,30%);

//-----------------------------------color fonts
$color-white:           #fff;
$color-brand:			#f26321;
$color-dark:            darken($color-brand,30%);
$color-light:           lighten($color-brand,30%);

//-----------------------------------color opacity
$dark_opacity:    rgba(#000, 0.95);
$white_opacity:   rgba(#fff, 0.3);

//-----------------------color form
$fon-input: transparent;
$color-input: #fff;
$color-placeholder: #fff;

