<div class="main-contant sub-page text-style">
    <section class="contact">
        <h1>Contact</h1>
        <div class="contact_wraper">
            <div class="contact-block_wraper contact-block_icon">
                <p class="contact-block_adress icon-location"><span itemprop="addressCountry">Украина</span>, <span itemprop="addressLocality">пгт. Песочин</span>, <span itemprop="streetAddress">ул. Автомобильная, 8</span></p>
                <p class="contact-block_number icon-phone">+38 (066) 795-59-61</p>
                <p class="contact-block_grafic icon-clock">Работаем с 9:00 до 20:00 без выходных</p>
                <p class="contact-block_email icon-mail-alt"><a href="mailto:svit-express@yandex.ua">svit-express@yandex.ua</a></p>
                <div class="contact-block_social">
                    <a href="https://vk.com/club144948444" class="icon-vkontakte"></a>
                    <a href="https://www.facebook.com/Svit-Express-1902488450040847/" class="icon-facebook"></a>
                    <a href="https://twitter.com/SvitExpress" class="icon-twitter"></a>
                </div>
            </div>
            <div id="map" class="map-contact"></div>
        </div>
    </section>
</div>
