//-----плагин для scroll-up-down
@import "libs/_scroll-up-down";

//-----плагин для pixel perfect
@import "libs/_pixel-glass";

//----- Pixel Glass style -----
  html {
    background-repeat: no-repeat;
    background-position:  50% 0;
  }
  /* Desktop */
  @media  ( max-width: 1900px ) and (min-width: 320px) {
    html {
  	//указать ширину равную ширине картинки для пиксель пэрфекта
    max-width: 1200px;
    margin: 0 auto;
    /* Desktop layout home */
    background-image: url( "../img/template/1200.png" );
    /* Desktop layout contact */
    // background-image: url( "../img/template/1200-contact.png" );
    }
  }
  /* Desktop */
  @media ( max-width: 320px ) {
    html {
  	//указать ширину равную ширине картинки для пиксель пэрфекта
    max-width: 320px;
    margin: 0 auto;
    /* Mobile layout homet */
    background-image: url( "../img/template/320.png" );
    /* Desktop layout contact */
    // background-image: url( "../img/template/320-contact.png" );
    }
  }
